tech stack:
- nextjs
- tailwindcss
- typescript
- shadcn/ui
- mongodb

use app router

use shadcn components

mongodb is located in lib/db.ts, use connectToDatabase to connect to the database

use openrouter to call openai api